@model TesteTecerPeakInvestWeb.ViewModel.RequestCadastro

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>
<br />
<h4>Calcular</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control"  value="0" />
            </div>
            <div class="form-group">
                <label asp-for="Parcelas" class="control-label"></label>
                <input asp-for="Parcelas" class="form-control" value="0" />
            </div>
            <div class="form-group">
                <input type="submit" value="Calcular" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



