@model TesteTecerPeakInvestWeb.ViewModel.Retorno

@{
    ViewData["Title"] = "Resutado da Consulta";
}

<h1>Resutado da Consulta</h1>

<div>
    <hr />

    <h4>@Model.ValorRetorno</h4>
   
</div>
<br />
<div>
    <a asp-action="Consultar">Voltar para Consulta</a>
</div>
